.banner{
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.banner .silder{
    position: absolute;
    width: 200px;
    height: 250px;
    top: 10%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
}

.banner .silder .item{
    position: absolute;
    inset: 0 0 0 0;
    transform:rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg))

    
    translateZ(550px); 
     
}

.banner .silder .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
